.redcolor {
    color: red;
}

.logo {
    width: 80px;
    height: 80px;
}

.input_style {
    padding:20px;
    width: 80%;
    margin: auto;
    height: 500px;
    font-size: 40px;
}

.btn {
    width: 150px;
    height: 80px;
    border-radius: 4px;
    background-color: rgb(47, 172, 9);
}

.append_div {
    font-size: 40px;
    width:80%;
    margin: auto;
    padding:30px;
    padding-left: 100px;
    background-color: grey;
}